:root {
	--site-font: Poppins, sans-serif;
	--selection-bg-clr: #bfdbfe;
	--black-clr: #000;
	--white-clr: #fff;
	--text-clr: #000;
	--dark-bg: #1B182C;
	--primary-clr: #4A2FED;
	--secondary-clr: #BA32EB;
	--gray-clr: #E4E4E4;
	--gray-clr-2: #898989;
	--gray-clr-3: #F5F5F5;
	--gray-clr-4: #888;
	--gray-clr-5: #A7A7A7;
	--gray-clr-6: #878E99;
	--gray-clr-7: #D6DBEA;
	--black-clr-2: #0F0D15;
	--black-clr-3: #9ca3af;
	--black-clr-4: #6b7280;
	--black-clr-5: #0D0F18;
	--black-clr-6: #595959;
	--black-clr-7: #1E2243;
	--black-clr-8: #454E5A;
	--black-clr-9: #171C30;
	--danger: #f87171;
  --logo-offset: auto;
}

*{word-break:break-word}
html{-webkit-text-size-adjust:100%}
pre{font-family:monospace;font-size:.8em}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
b,b *,strong,strong *{font-weight:700}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
[type='button'],[type='reset'],[type='submit'],button{-webkit-appearance:button}
[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
button,input,optgroup,select,textarea{font:inherit;outline:none;border:none;outline:none;color:inherit;-webkit-appearance:none}
input::-webkit-input-placeholder{color:inherit}
input::-moz-placeholder{color:inherit}
input:-ms-input-placeholder{color:inherit}
input::-ms-input-placeholder{color:inherit}
input::placeholder{color:inherit}
[type='submit']{cursor:pointer}
fieldset{padding:.35em .75em .625em}
legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
textarea{resize:none}
[type='checkbox'],[type='radio']{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{height:auto}
[type='search']::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
[hidden]{display:none}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}
a{color:inherit;text-decoration:none}
ol,ul{padding:0}
li{list-style:none}
button{background:transparent;cursor:pointer}
::-moz-selection{color:var(--black-clr);background:var(--selection-bg-clr)}
::selection{color:var(--black-clr);background:var(--selection-bg-clr)}
.styled-line{width:7.5rem;height:.5rem;background:-webkit-gradient(linear,left top, right top,from(#0167FF),color-stop(#8E71F9),to(#C662FE));background:-o-linear-gradient(left,#0167FF,#8E71F9,#C662FE);background:linear-gradient(to right,#0167FF,#8E71F9,#C662FE);border-radius:1rem;margin-top:auto}
.d-flex{display:-webkit-box;display:-ms-flexbox;display:flex}
.sidebar-logo-container{width:30rem;margin-top:var(--logo-offset)}
.sidebar-logo-container img{width:100%}
html{font-size:62.5%}
body{font-family:var(--site-font);min-height:100vh;min-height:100dvh;position:relative;font-weight:400;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:1.6rem;background-color:var(--white-clr);color:var(--text-clr)}
.root-wrap{min-height:100vh;min-height:100dvh;width:100%;background:var(--white-clr);overflow:hidden}
.bg-section{width:50%;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background-color:var(--black-clr-9);color:var(--white-clr);-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:5.7rem 8rem;-webkit-transition:padding .3s cubic-bezier(0.25,0.1,0.25,1);-o-transition:padding .3s cubic-bezier(0.25,0.1,0.25,1);transition:padding .3s cubic-bezier(0.25,0.1,0.25,1)}
.bg-section .footer{margin-top:auto;font-size:1.2rem;text-align:center}
.bg-section .footer .page-links-wrap,.bg-section .separator{color:var(--gray-clr-5)}
.bg-section .footer .page-links:hover{text-decoration:underline}
.bg-section .footer .separator{margin:0 .5rem}
.content-section{width:50%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:4rem 8rem}
.content-section.landing-page{position:relative;overflow:hidden}
.open-modal-btn{padding:0 2rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:3rem;min-width:20rem;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background:-webkit-gradient(linear,left top, right top,from(#0167FF),color-stop(#8E71F9),to(#C662FE));background:-o-linear-gradient(left,#0167FF,#8E71F9,#C662FE);background:linear-gradient(to right,#0167FF,#8E71F9,#C662FE);color:var(--white-clr);gap:3rem;margin-top:auto;height:5rem}
.open-modal-btn:hover .arrow-icon-svg{fill:var(--white-clr)}
.open-modal-btn:hover{background:-webkit-gradient(linear,left top, right top,from(#C662FE),color-stop(#8E71F9),to(#0167FF));background:-o-linear-gradient(left,#C662FE,#8E71F9,#0167FF);background:linear-gradient(to right,#C662FE,#8E71F9,#0167FF);border-color:transparent;color:var(--white-clr)}
.content-section .icon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.arrow-icon-svg{fill:var(--white-clr)}
.footer-links-wrap .circle-el{width:.3rem;height:.3rem;background:var(--black-clr-4);border-radius:50%;margin:0 .8rem;display:block}
.footer-link{font-size:1.2rem;color:var(--gray-clr-4)}
.footer-link:hover{text-decoration:underline}
.contact-form-wrapper{width:60rem;max-width:100%}
.static-page-wrap .title-text{padding:2rem 0}
.main-heading{margin:0 0 3.2rem}
.main-heading .primary,.static-page-wrap .title-text .primary{font-weight:700}
.main-heading .primary{font-size:3.9rem}
.main-heading .secondary,.static-page-wrap .title-text .secondary{font-size:1.3rem;color:var(--gray-clr-2)}
.contact-form .divider{margin:0 0 2rem}
.contact-form .divider .form-group:last-child{margin:0 0 0 2rem}
.form-input::-webkit-input-placeholder{color:var(--gray-clr-2)}
.form-input::-moz-placeholder{color:var(--gray-clr-2)}
.form-input:-ms-input-placeholder{color:var(--gray-clr-2)}
.form-input::-ms-input-placeholder{color:var(--gray-clr-2)}
.form-input::placeholder{color:var(--gray-clr-2)}
.contact-form .form-group{-webkit-box-flex:1;-ms-flex:1;flex:1}
.contact-form .form-input{color:var(--gray-clr-6);font-size:1.4rem;height:5rem;padding:0 1.5rem;width:100%;border-radius:4rem;border:2px solid var(--gray-clr-7)}
.contact-form .message-input{height:100%;border-radius:2.4rem;padding:1.5rem}
.contact-form-btn{background:-webkit-gradient(linear,left top, right top,from(#0167FF),color-stop(#8E71F9),to(#C662FE));background:-o-linear-gradient(left,#0167FF,#8E71F9,#C662FE);background:linear-gradient(to right,#0167FF,#8E71F9,#C662FE);padding:0 2rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:3rem;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;min-width:19rem;gap:5rem;color:var(--white-clr);height:5rem}
.contact-form-btn:hover,.contact-form-btn:focus{background:-webkit-gradient(linear,left top, right top,from(#C662FE),color-stop(#8E71F9),to(#0167FF));background:-o-linear-gradient(left,#C662FE,#8E71F9,#0167FF);background:linear-gradient(to right,#C662FE,#8E71F9,#0167FF)}
.contact-form-btn:hover .arrow-icon-svg{fill:var(--white-clr)}
.contact-form .message-input-wrap{height:13rem;border-radius:2.5rem}
.contact-form .form-input:focus{border-color:#8E71F9}
.content-divider p:last-child{margin:0}
.content-divider{margin:0 0 5.5rem!important}
.site-footer{padding:2rem 0}
.close-modal-window{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0;position:absolute;right:3rem;top:3rem}
.close-modal-window:hover{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.close-modal-window svg{fill:#000;width:3rem;height:3rem}
.pos-relative{position:relative}
.modal-window{background:var(--white-clr);position:relative;-webkit-animation:slide-in-left .3s cubic-bezier(0.25,0.1,0.25,1) forwards;animation:slide-in-left .3s cubic-bezier(0.25,0.1,0.25,1) forwards}
.content-section .site-desc{font-size:3.4rem;line-height:1.4;margin:0 0 .8rem;max-width:100rem;color:var(--black-clr-7);font-weight:700}
.content-section-text-wrap .secondary-text{font-size:2.3rem;line-height:1.5;color:var(--black-clr-8);margin:0 0 2rem}
.contact-from-btn-wrap{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:5rem 0 1rem;gap:0 3rem;position:relative}
.cancel-btn{font-weight:500;color:var(--black-clr-7);text-decoration:underline;cursor:pointer;font-size:1.4rem}
.cancel-btn:hover,.cancel-btn:focus{color:var(--black-clr-2)}
.content-section-text-wrap .secondary-text span,.title-text span,.error-sending-data .error-block{display:block}
.sidebar-logo-container a,.modal-window-visible .modal-window{display:-webkit-box;display:-ms-flexbox;display:flex}
.separator.starting-sep,.modal-window,.modal-window-visible .landing-page,.success-container,.content-section-text-wrap .secondary-text.mob,.form-submitted .contact-form-inner,.landing-page .footer,.modal-window .footer{display:none}
.error-block{font-size:1.3rem;background-color:var(--danger);display:none;color:var(--white-clr);text-align:center;padding:.5rem 1rem;margin:2rem 0 3rem;border-radius:1rem}
.form-submitted .success-container,.form-submitted .main-heading{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.form-submitted .contact-form-wrapper{margin-top:auto}
.success-container .main-heading .primary{line-height:1.3;margin:2rem 0 1rem}
.success-message-img{display:block;max-width:100%;margin:0 0 10rem}
.content-section-text-wrap{margin-top:auto}
.extra-info-heading{color:var(--gray-clr-6);font-size:1.2rem;font-weight:500}
.extra-info-text{color:var(--black-clr-7);font-size:1.8rem}
.extra-info-container:not(:last-child){margin:0 0 2.5rem}
.form-separator{background:var(--gray-clr-7);width:100%;height:.1rem;margin:4.5rem 0}
.form-submitted .contact-form-wrapper{margin-top:0}
.contact-tertiary-text{font-size:1.8rem;margin:0 0 3.5rem;line-height:1.5}
.content-section-text-wrap .secondary-text .secondary-text-inner span{display:inline}
.secondary-text-inner{word-break:break-all}
.success-container .main-heading .secondary{font-size:1.8rem;color:var(--gray-clr-4);font-weight:500}
.bg-section .footer .page-links-wrap{margin:.2rem 0 0}
.landing-page .secondary-text{margin:0 0 4rem}
.static-page-wrap .footer-links-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;align-items:center;margin-right:auto}
.static-page-wrap .inner-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-height:100vh}
.static-page-wrap .logo{font-weight:700;margin:2rem 0;width:25rem}
.static-page-wrap .logo a{display:-webkit-box;display:-ms-flexbox;display:flex}
.static-page-wrap .logo img{width:100%}
.static-page-wrap .content-title{margin:4em 0 3rem}
.static-page-wrap .container{max-width:117rem;margin:auto;padding:0 3rem}
.static-page-wrap .content,.static-page-wrap .content *{margin:0 0 2rem;font-size:1.6rem;line-height:2.7rem;font-weight:500;color:var(--black-clr-6);font-family:var(--site-font)}
.static-page-wrap .content strong,.static-page-wrap .content strong *,.static-page-wrap .content b,.static-page-wrap .content b *{font-weight:600;color:var(--black-clr-6);font-size:1.5rem}
.static-page-wrap .content{margin:0}
.static-page-wrap .content ul,.static-page-wrap .content ol{list-style-position:inside;list-style-type:disc}
.static-page-wrap .content li{margin:0 0 1.3rem}
.static-page-wrap .content h2 *,.static-page-wrap .content h3 *,.static-page-wrap .content h4 *,.static-page-wrap .content h5 *,.static-page-wrap .content h6 *,.static-page-wrap .content h2,.static-page-wrap .content h3,.static-page-wrap .content h4,.static-page-wrap .content h5,.static-page-wrap .content h6{font-size:2.4rem;line-height:1.3;font-weight:600;margin-bottom:1.5rem;color:var(--black-clr)}
.static-page-wrap .content-wrap{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}
.static-page-wrap .footer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:0 0 1.5rem;margin:2rem 0 0}
.static-page-wrap .title-text .secondary{font-weight:400}
@-webkit-keyframes slide-in-left {
0%{-webkit-transform:translateX(3rem);transform:translateX(3rem);opacity:0}
100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
}
@keyframes slide-in-left {
0%{-webkit-transform:translateX(3rem);transform:translateX(3rem);opacity:0}
100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
}
.contact-form-wrapper .main-heading .primary{font-size:3.6rem}
.location-image-wrapper{margin:7px 0 0}
.location-image-wrapper img{transform:scale(0.9);transform-origin: left;max-width:100%}
.form-submitted .sidebar-logo-container{margin-top:auto}
.static-content-link{color:var(--primary-clr) !important;}
@media only screen and (min-width: 2400px) {
html{font-size:calc(0.5rem + 0.1vw)!important}
}
@media only screen and (min-width: 1800px) {
.content-section-text-wrap .secondary-text .secondary-text-inner span{display:block}
}
@media only screen and (max-width: 1600px) {
.bg-section{padding:5.5rem 8rem}
}
@media only screen and (max-width: 1500px) {
.content-section{padding:4rem 6rem}
.content-section .site-desc{font-size:3.2rem;line-height:1.4;margin:0 0 1.8rem}
}
@media only screen and (max-width: 1200px) {
.content-section-text-wrap .secondary-text.desk{display:none}
.content-section-text-wrap .secondary-text.mob{display:block}
.bg-section{padding:6rem}
.success-container .main-heading .secondary{font-size:1.5rem}
}
@media only screen and (max-width: 1124px) {
.separator.starting-sep,.page-links-wrap{display:inline}
}
@media only screen and (max-width: 899px) {
.content-divider{margin:0 0 4rem!important}
.static-page-wrap .content-title{margin:3rem 0 2rem}
.root-wrap{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:inherit}
.content-section,.bg-section{width:100%}
.bg-section{padding:10rem 0;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.content-section{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;padding:3rem 4rem 1.3rem;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.styled-line{margin-top:inherit}
.contact-form-wrapper{width:100%;margin-top:inherit}
.close-modal-window{top:1.5rem;right:1.5rem}
.modal-window{padding:1.5rem 3rem 1.3rem;-webkit-animation:none;animation:none}
.static-page-wrap .logo{margin:2rem auto}
.static-page-wrap .title-text{padding:1.5rem 0}
.form-submitted .success-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:10rem 0}
.bg-section .footer{display:none}
.sidebar-logo-container,.content-section-text-wrap,.open-modal-btn{margin-top:0}
.content-section-text-wrap .secondary-text{margin:0 0 3rem}
.form-separator{margin:3.5rem 0}
.open-modal-btn{margin:0 0 8rem;height:4.5rem}
.contact-from-btn-wrap{margin:3rem 0 7rem}
.extra-info-text,.contact-tertiary-text{font-size:1.5rem;line-height:1.3}
.extra-info-container:not(:last-child){margin:0 0 2rem}
.main-heading .primary, .contact-form-wrapper .main-heading .primary{font-size:3rem}
.main-heading{margin:0 0 2.2rem}
.content-section .site-desc{font-size:2.8rem}
.content-section-text-wrap .secondary-text{font-size:2.1rem;line-height:1.6}
.footer-links-wrap{margin:0 auto;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.form-submitted .contact-form-wrapper{margin-top:auto}
.content-section-text-wrap .secondary-text.desk{display:block}
.content-section-text-wrap .secondary-text.mob{display:none}
.contact-form .form-input{height:4.5rem;font-size:1.3rem}
.contact-form .message-input{height:100%}
.contact-form .message-input-wrap{height:11rem}
.sidebar-logo-container{-webkit-transition:all .3s cubic-bezier(0.25,0.1,0.25,1);-o-transition:all .3s cubic-bezier(0.25,0.1,0.25,1);transition:all .3s cubic-bezier(0.25,0.1,0.25,1);}
.contact-form-btn{height:4.5rem}
.landing-page .footer,.modal-window .footer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:auto 0 0;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%}
.modal-window-visible .bg-section{padding:5rem 0}
.modal-window-visible .sidebar-logo-container{-webkit-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8)}
.location-image-wrapper img{transform:scale(0.8)}
.location-image-wrapper{margin:2px 0 0}
}
@media only screen and (max-width: 599px) {
.contact-form .divider{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.contact-form .divider .form-group:last-child{margin:2rem 0 0}
.cancel-btn{display:none}
.success-message-img{margin:0 0 6rem}
.success-container .main-heading .primary{font-size:2.5rem}
.content-section-text-wrap .secondary-text.desk{display:none}
.content-section-text-wrap .secondary-text.mob{display:block}
.main-heading .primary{font-size:2.8rem}
.sidebar-logo-container{width:23rem}
.bg-section{padding:8rem 0}
.modal-window-visible .bg-section{padding:3.5rem 0}
}
@media only screen and (max-width: 420px) {
.content-section{padding:2rem 2rem 1rem}
.static-page-wrap .logo{width: 22rem}
}
@media only screen and (max-width: 383px) {
	.success-container .styled-line{margin-right:auto}
}